.header {
  padding: 60px;
  text-align: center;
  background: grey;
  color: white;
  font-size: 30px;
  font-family: "Candara";
  height: 30px;
  
}

.topnav {
    overflow: hidden;
    background-color: grey;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Candara";
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: grey;
  }
  
  .topnav a.active {
    background-color: rgb(224, 114, 182);
    color: white;
  }
.pagehead{
    font-family: "Candara";
    font-size: 50px;
    color: grey;
    text-align: center;

}

.circle {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-image: url("me.jpg");
    background-size: cover;
   }

   h2 {
       color: grey;
   }
   blockqoute {
    font-size: 17px;
    font-family: "Candara";
    padding: 50px;
   }
   .container{
    width:33%;
    float:left;
    /* you can optionally set a fixed height */
 }
 .text{
  padding: 75px;
  /* you can optionally set a fixed height */
}
 .img-fluid
 {
   margin-left: 75px;
 }